.form-input{
  width: 300px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;
}

.center-items{
  justify-content: center;
  text-align: center;
}

.canvas-image{
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.copy-btn{
  display: flex;
  justify-content: center;
}

.header{
  margin-top: 50px;
  text-align: center;
}