.form-input{
  width: 300px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;
}

.center-items{
  justify-content: center;
  text-align: center;
}

.canvas-image{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.canv{
  width: 80%;
}
.copy-btn{
  display: flex;
  justify-content: center;
  margin-top: -20px;
}

.header{
  margin-top: 10px;
  text-align: center;
}
